div.content div.header {
    padding-bottom: .5rem;
}

div.content div.description {
    padding-bottom: .85rem;
}

@media (max-width: 56.25em) {
    .Education-column {
        padding: 0 3rem !important;
    }
}