@font-face {
  font-family: "PixelFont";
  src: local("PixelFont"),
    url("./fonts/m5x7.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Global definition defining 1rem = 10px */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  margin: 10px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.42rem !important;
  font-weight: 400;
  font-display: swap;
  color: #6F755F !important;
}

h2.Section-header {
  font-family: 'PixelFont', sans-serif !important;
  font-weight: 600 !important;
  padding-bottom: .7em !important;
  color: #A3A653 !important;
  font-size: 4rem !important;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-display: swap;
}

i {
  /* color: #eacc52 !important; */
  /* color: #A3A653 !important; */
  color: #d0d45a !important;
}

i.icon {
  text-decoration: none !important;
}

a,
a.listLink {
  color: #A3A653 !important;
}

a:hover,
a.listLink:hover {
  color: #A3A653 !important;
  text-decoration: underline;
}

.Section-divider {
  margin: 5rem 1rem !important;
}

/* tablet landscape */

@media (max-width: 1180px) {

  html {
    font-size: 80% !important;
  }

  div.content div.header {
    font-size: 21px;
  }

  div.ui.massive.link.list.Navbar-list {
    font-size: 1.8em;
  }

  h2.Section-header {
    font-size: 4rem !important;
  }

  .Navbar-header {
    font-size: 5.5rem !important;
  }

  h2.ui.header.Work-header {
    font-size: 2.2rem !important;
  }

  i.file.alternate.outline.icon {
    font-size: 2.5rem;
  }

  .About-resume-button {
    font-size: 1.5rem;
  }

  div.ui.massive.link.list.Navbar-list {
    font-size: 1.7em;
  }
}

/* tablet portable */

@media (max-width: 820px) {

  h2.Section-header {
    text-align: center;
    font-size: 3.7rem !important;
  }

  div.content div.header {
    font-size: 1.7rem;
  }

  i.icon.project-icon,
  i.icons.project-icon {
    font-size: 1.5em !important;
  }

  .ui.list,
  ol.ui.list,
  ul.ui.list {
    margin-top: 2em !important;
    margin-bottom: 2em !important;
    padding-left: 0 !important;
  }

  h2.ui.header.Work-header {
    font-size: 1.5em !important;
  }

  div.ui.massive.link.list.Navbar-list {
    font-size: 1.8em;
  }
}

/* phone */

@media (max-width: 414px) {
  html {
    font-size: 71% !important;
  }

  h2.Section-header {
    text-align: center !important;
    font-size: 5rem !important;
  }

  .ui.list,
  ol.ui.list,
  ul.ui.list {
    margin-top: 2em;
    padding-left: 0 !important;
  }

  h2.ui.header.Work-header {
    font-size: 1.7em !important;
  }

  i.icon.project-icon,
  i.icons.project-icon {
    font-size: 1.5em !important;
  }

  .About-column {
    padding: 0 2rem 5rem 2rem !important;
  }

  i.file.alternate.outline.icon {
    font-size: 2.9rem;
  }

  .About-resume-button {
    font-size: 1.9rem;
  }

  .Navbar-header {
    font-size: 4.5rem !important;
    padding: 2rem 0 1rem 0 !important
  }

  .Navbar-container {
    padding: 4rem 0;
  }

  .ui.list,
  ol.ui.list,
  ul.ui.list {
    margin: 1.2em 0 !important;
  }
}