@font-face {
  font-family: "PixelFont";
  src: local("PixelFont"),
    url("./fonts/m5x7.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Global definition defining 1rem = 10px */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem !important;
  font-weight: 400;
  font-display: swap;
  color: #6F755F !important;
}

.Section-header {
  font-family: 'Assistant', sans-serif !important;
  font-weight: 600 !important;
  padding-bottom: .7em !important;
  color: #A3A653 !important;
  font-size: 3.5rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-display: swap;
}

i {
  color: #747A5D !important;
}

a,
a.listLink {
  color: #A3A653 !important;
}

a:hover,
a.listLink:hover {
  color: #A3A653 !important;
  text-decoration: underline;
}

.Section-divider {
  margin: 5rem 1rem !important;
}

/* big desktop */

@media (max-width: 112.5em) {
  html {
    font-size: 70% !important;
  }

  .Section-header {
    font-size: 3rem !important;
  }
}

/* tablet landscape */

@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

/* tablet portable */

@media (max-width: 56.25em) {
  html {
    font-size: 58% !important;
  }

  .Section-header {
    text-align: center;
    font-size: 3.5rem !important;
  }
}

/* phone */

@media (max-width: 37.5em) {
  html {
    font-size: 50.25% !important;
  }

  .Section-header {
    text-align: center;
    font-size: 4.2rem !important;
  }
}