div.content div.header {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    color: #6F755F !important;
}

div.content div.description {
    padding-bottom: .85rem;
    color: #6F755F !important;
}

.Education-row {
    padding: 0 !important;
    margin-bottom: 55px;
}