.Skills-container {
    padding-top: 7em;
}

.Skills-header {
    text-decoration: underline;
}

h3.ui.header {
    font-size: 1.3rem;
}

@media (max-width: 112.5em) {
    h3.ui.header {
        font-size: 1.8rem;
    }
}

@media (max-width: 75em) {
    h3.ui.header {
        font-size: 1.6rem;
    }
}

@media (max-width: 52.65em) {
    .Skills-column {
        padding-left: 3rem !important;
    }
}

@media (max-width: 37.5em) {
    h3.ui.header {
        text-align: center !important;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
}