.Skills-container {
    padding-top: 7em;
}

.Skills-header {
    text-decoration: underline;
}

@media (max-width: 37.5em) {
    .Skills-column {
        padding-left: 3rem !important;
        text-align: center !important;
    }
    h3.ui.header {
        text-align: left;
        padding-bottom: 1rem;
    }
}