/* .about-div {
} */

.About-container {
    padding-bottom: 5em;
}

.About-tab-pane-header {
    font-size: 1.6em;
}

.About-column {
    padding: 2rem !important;
}

i.file.alternate.outline.icon {
    font-size: 2.5rem;
}

.About-resume-button {
    font-size: 2rem;
}