.About-container {
    padding: 10rem 0;
}

.About-tab-pane {
    border: 0 !important;
    padding-top: 1em !important;
}

.About-tab-pane-header {
    font-size: 1.5em;
}

.hey {
    background-color: lavender;
}