.About-container {
    padding-bottom: 5em;
}

.About-tab-pane-header {
    font-size: 1.6em;
}

i.file.alternate.outline.icon {
    font-size: 1.9rem;
}

.About-resume-button {
    font-size: 1.3rem;
}

@media (max-width: 75em) {
    i.file.alternate.outline.icon {
        font-size: 2.8rem;
    }
    .About-resume-button {
        font-size: 1.8rem;
    }
}

@media (max-width: 56.25em) {
    i.file.alternate.outline.icon {
        font-size: 3rem;
    }
    .About-resume-button {
        font-size: 2rem;
    }
}

@media (max-width: 37.5em) {
    .About-column {
        padding: 0 2rem 2rem 2rem !important;
    }
    i.file.alternate.outline.icon {
        font-size: 3.5rem;
    }
    .About-resume-button {
        font-size: 2.3rem;
    }
}