.Footer-container {
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.Footer-container>a.back-to-top:hover {
    text-decoration: none;
}

i.huge.icon {
    font-size: 3.8rem !important;
    transition: transform .3s;
}

i.huge.icon:hover {
    color: slategrey;
    transform: scale(1.2);
}

p.back-to-top-text {
    visibility: hidden;
    font-size: 1.4rem;
    color: #6F755F;
    animation: fadeIn 2s;
    padding-top: 1rem;
}

.back-to-top:hover~.back-to-top-text {
    visibility: visible;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}