.footer-div {
    background-color: lavender;
}

.Footer-container {
    background-color: lavender;
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 1em;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.Footer-text {
    font-weight: normal;
    font-size: .9em;
}

i.huge.icon {
    font-size: 4.8rem !important;
    transition: transform .3s;
}

i.huge.icon:hover {
    color: slategrey;
    transform: scale(1.2);
}