.Footer-container {
    padding-bottom: 2rem;
    padding-top: 5rem;
}

i.huge.icon {
    font-size: 4.8rem !important;
    transition: transform .3s;
}

i.huge.icon:hover {
    color: slategrey;
    transform: scale(1.3);
}