.Contact-container {
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

.Contact-text {
    font-weight: normal;
    padding-top: 1rem;
    font-size: 1rem;
    text-align: center;
}