.Work-container {
    padding-top: 9em;
    padding-bottom: 5em;
}

.Work-image-wrap {
    position: relative;
}

.Work-image {
    opacity: .9;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    filter:drop-shadow(7px 7px 10px rgb(52, 39, 61));
}

.Work-image-description {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: opacity .5s ease visibility .2s;
}

.Work-image-wrap:hover .Work-image {
    opacity: .3;
}

.Work-image-wrap:hover .Work-image-description {
    visibility: visible;
    opacity: 1;
}

.Work-text {
    font-size: 1.5rem;
}

.Project-top-column {
    padding-bottom: 2rem;
}

.Project-column {
    padding: .8rem 2rem !important;
}

h2.ui.header.Work-header {
    color: #edf7f6  !important;
    font-size: 2.5rem !important;
}

.ui.secondary.menu > a.active.item {
    background: rgba(65, 59, 100, 0.5);
    /* color: rgba(67, 60, 114, 0.522); */
}

.ui.secondary.menu > a.active.item:hover {
    background-color: #2f2c44;
}

i.github.alternate.icon {
    font-size: 2rem;
}

@media (max-width: 112.5em) {
    h2.ui.header.Work-header {
        font-size: 2.2rem !important;
    }
}

@media (max-width: 75em) {
    h2.ui.header.Work-header {
        font-size: 2.3rem !important;
    }
}

@media (max-width: 56.25em) {
    h2.ui.header.Work-header {
        font-size: 2.6rem !important;
    }
}