.Project-top-column {
    padding-bottom: 2rem;
}

.Project-column {
    padding: .8rem 1rem !important;
}

.Work-container {
    padding-bottom: 5em;
    padding-top: 1em;
}

.Work-image-wrap {
    position: relative;
}

.Work-image {
    opacity: .9;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
    filter: drop-shadow(7px 7px 15px rgb(37, 30, 43));
}

/* .Work-image-description {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: opacity .5s ease visibility .2s;
} */

.Work-image-wrap:hover .Work-image {
    opacity: .3;
}

/* .Work-image-wrap:hover .Work-image-description {
    visibility: visible;
    opacity: 1;
} */

h2.ui.header.Work-header {
    color: #edf7f6 !important;
    font-size: 2.5rem !important;
}

.Work-text {
    font-size: 1.5rem;
    color: #edf7f6 !important;
}

.ui.secondary.menu>a.item {
    font-size: 2rem;
    font-weight: bolder;
}

.ui.secondary.menu>a.active.item, .ui.secondary.menu>a.active.item:hover {
    background: rgba(65, 59, 100, 0.5);
}

.Work-tab-menu>div.ui.secondary.menu {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    margin-left: -45px;
    margin-bottom: 4rem;
}

i.github.alternate.icon {
    font-size: 2rem;
}

div.Project-column:hover > * {
    text-decoration: none;
}

.Work-modal-header {
    font-size: 2rem !important;
    text-align: center;
}

/* big desktop */

@media (max-width: 112.5em) {
    h2.ui.header.Work-header {
        font-size: 2.2rem !important;
    }
}

/* tablet landscape */

@media (max-width: 75em) {
    h2.ui.header.Work-header {
        font-size: 2.3rem !important;
    }
}

/*  tablet portable */

@media (max-width: 56.25em) {
    h2.ui.header.Work-header {
        font-size: 2.6rem !important;
    }
}

/* phone */

@media (max-width: 37.5em) {
    .Work-tab-menu>div.ui.secondary.menu {
        margin-left: -5px;
    }
    .ui.secondary.menu>a.item {
        font-size: 2.3rem;
    }
}