.Navbar-menu {
    background: transparent !important;
    margin-bottom: 6em !important;
}

.Navbar-menu-item {
    padding-left: 0;
}

.Navbar-navlink {
    color: black !important;
}

.Navbar-navlink:hover {
    font-weight: 1000;
}