.Home {
    background-image: url("../assets/images/desk.jpg") !important;
    background-size: cover !important;
    display: block;
    position: relative;
    min-height: 100vh;
}

.Home-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}