.Home {
    background-image: url("../assets/images/home.jpg") !important;
    background-size: cover !important;
    display: block;
}

.Home-content {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}