.Footer-container {
    background: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5em;
    padding-bottom: 1em;
    margin-bottom: 0;
    position: relative;
    text-align: center;
}

.Footer-text {
    font-weight: normal;
    font-size: .9em;
}