.About-tab-pane-header {
    font-size: 1.6em;
}

.About-image {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.About-container {
    padding: 60px 0;
}

i.file.alternate.outline.icon {
    font-size: 2.6rem;
}

div.ui.list.About-resume-list {
    padding-left: 0;
}

i.file.alternate.outline.icon.About-resume-button {
    font-size: 1.4rem !important;
}