* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* Global definition defining 1rem = 10px */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

.Section-header {
  font-family: 'Assistant', sans-serif !important;
  font-weight: 600 !important;
  padding-bottom: .7em !important;
  color: rgb(192, 161, 226) !important;
  font-size: 3.2rem !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'calluna', 'calluna-sans', 'Open Sans' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem !important;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.87) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

i {
  color: rgba(39, 39, 39, 0.87) !important;
}

a, a.listLink {
  color: rgb(151, 112, 196)!important;
}

a:hover, a.listLink:hover {
  text-decoration: underline;
}

.Section-divider {
  margin: 7rem 1rem !important;
}

/* big desktop */

@media (max-width: 112.5em) {
  html {
    font-size: 75% !important;
  }
  .Section-header {
    font-size: 3rem !important;
  }
}

/* tablet landscape */

@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

/* tablet portable */

@media (max-width: 56.25em) {
  html {
    font-size: 50% !important;
  }
  .Section-header {
    text-align: center;
    font-size: 3.5rem !important;
  }
}

/* phone */

@media (max-width: 37.5em) {
  html {
    font-size: 39.25% !important;
  }
  .Section-header {
    text-align: center;
    font-size: 4.2rem !important;
  }
}