html {
  scroll-behavior: smooth;
  /* Global definition defining 1rem = 10px */
  font-size: 62.5%;
}

/* phone */
@media (max-width: 37.5em) {
  html {
    font-size: 40.25% !important;
  }
}

/* tablet portable */
@media (max-width: 56.25em) {
  html {
    font-size: 50% !important;
  }
}

/* tablet landscape */
@media (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}

/* big desktop */
@media (max-width: 112.5em) {
  html {
    font-size: 75% !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'calluna', 'calluna-sans', 'Open Sans' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i {
  color: rgba(0,0,0,.87)!important;
}

a, a.listLink {
  color: rgb(142, 100, 190)!important;
}

a:hover, a.listLink:hover {
  text-decoration: underline;
}

.Section-header {
  font-family: 'Assistant', sans-serif !important;
  font-weight: 400 !important;
  font-size: 3rem !important;
  padding-bottom: .7em !important;
}

.Section-divider {
  margin: 8rem 1rem !important;
}