.Navbar-container {
    padding: 9rem 0;
}

.Navbar-icon {
    min-width: 80px;
    height: auto;
    padding-bottom: 2rem;
}

.Navbar-menu {
    background: transparent !important;
}

.Navbar-header {
    color: #f595a5 !important;
}

.Navbar-header {
    font-size: 3.2rem !important;
    padding: 2rem 0 1rem 0 !important;
}

.Navbar-header-sub {
    font-size: 2.1rem !important;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif;
    font-display: swap;
}

div.ui.massive.link.list.Navbar-list {
    text-align: left;
    padding-top: 1rem;
    font-size: 2.1rem;
}

.Navbar-list-link {
    text-decoration: none;
}

.Navbar-list-link:hover {
    text-decoration: underline;
}

.Navbar-button-icon {
    padding-left: 1rem;
}

.Navbar-navlink {
    color: #f595a5 !important;
}

.Navbar-navlink:hover {
    font-weight: 1000;
}

.breadcrumb-divider {
    color: #f595a5 !important;
}

.Navbar-header {
    font-family: 'Noto Serif', serif;
    color: black;
    font-style: bold;
    font-display: swap;
}

/*  tablet portable */

@media (max-width: 56.25em) {
    div.ui.massive.link.list.Navbar-list {
        padding-left: 0;
    }
}

/* phone */

@media (max-width: 37.5em) {
    .Navbar-header-sub {
        text-align: center;
    }
    div.ui.massive.link.list.Navbar-list {
        padding-left: 35px;
    }
}

/* Animation */

/* Fade In Up */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Fade In */

.animatedFadeIn {
    opacity: 0;
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animation Speed */

.animated-fast {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animated-med {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animated-slow {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}