.Navbar-container {
    padding: 9rem 0;
}

.Navbar-icon {
    min-width: 95px;
    height: auto;
    padding-bottom: 2rem;
}

.Navbar-menu {
    background: transparent !important;
}

.Navbar-header {
    color: #747A5D !important;
    letter-spacing: 4px;
    font-size: 4.8rem !important;
    padding: 3rem 0 2rem 0 !important;
    line-height: 1 !important;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.Navbar-header-sub {
    font-size: 3rem !important;
    font-weight: 400 !important;
    margin-bottom: 0;
    color: #A3A653;
}

.Navbar-title {
    cursor: pointer;
}

div.ui.massive.link.list.Navbar-list {
    padding-top: 1.5rem;
    font-size: 1.9rem;
    display: inline-block;
    text-align: left;
}

.Navbar-list-link {
    text-decoration: none;
    margin-bottom: 12px;
}

.Navbar-list-link:hover {
    text-decoration: underline;
}

.Navbar-button-icon {
    padding-left: 1rem;
}

.Navbar-navlink {
    color: #A3A653 !important;
}

.Navbar-navlink:hover {
    font-style: bold;
}

.breadcrumb-divider {
    color: #f6d72c !important;
}

/*  tablet portable */

@media (max-width: 56.25em) {
    div.ui.massive.link.list.Navbar-list {
        padding-left: 0;
    }
}

/* phone */

@media (max-width: 37.5em) {
    .Navbar-header-sub {
        text-align: center;
    }

    div.ui.massive.link.list.Navbar-list {
        padding-left: 35px;
    }
}

/* Animation */

/* Fade In Up */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Fade In */

.animatedFadeIn {
    opacity: 0;
}

.fadeIn {
    opacity: 0;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Animation Speed */

.animated-fast {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animated-med {
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-fill-mode: both
}

.animated-slow {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

/* tablet landscape */

@media (max-width: 1180px) {
    .Navbar-icon {
        min-width: 90px;
    }
}

/* tablet portable */

@media (max-width: 820px) {
    .Navbar-icon {
        min-width: 85px;
    }
}


/* phone */

@media (max-width: 414px) {
    .Navbar-icon {
        min-width: 80px;
    }
}