.Navbar-container {
    padding: 9rem 0;
}

.Navbar-icon {
    min-width: 80px;
    height: auto;
    padding-bottom: 2rem;
}

.Navbar-menu {
    background: transparent !important;
}

.Navbar-header {
    color: #f595a5 !important;
}

.Navbar-header {
    font-size: 3.2rem !important;
    padding: 2rem 0 1rem 0 !important;
}

.Navbar-header-sub {
    font-size: 2.1rem !important;
    font-weight: 600 !important;
    font-family: 'Open Sans', sans-serif;
}

div.ui.massive.link.list.Navbar-list {
    text-align: left;
    /* padding-left: 200px; */
    padding-top: 1rem;
    font-size: 2.1rem;
}

.Navbar-list-link {
    text-decoration: none;
}

.Navbar-list-link:hover {
    text-decoration: underline;
}

.Navbar-button-icon {
    padding-left: 1rem;
}

.Navbar-navlink {
    color: #f595a5 !important;
}

.Navbar-navlink:hover {
    font-weight: 1000;
}

.breadcrumb-divider {
    color: #f595a5 !important;
}

.Navbar-header {
    font-family: 'Noto Serif', serif;
    color: black;
    font-style: bold;
}

@media (max-width: 56.25em) {
    div.ui.massive.link.list.Navbar-list {
        padding-left: 0;
    }
}