.work-div {
    background-color: lavender;
}

.Work-container {
    padding-top: 9em;
    padding-bottom: 10em;
}

.Work-image-wrap {
    position: relative;
}

.Work-image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .3s ease;
    backface-visibility: hidden;
}

.Work-image-description {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: opacity .5s ease visibility .2s;
}

.Work-image-wrap .Work-image-description a{
    color: grey !important;
}

.Work-image-wrap:hover .Work-image {
    opacity: .3;
}

.Work-image-wrap:hover .Work-image-description {
    visibility: visible;
    opacity: 1;
}

.Project-row {
    padding: 2rem !important;
}

.Project-top-column {
    padding-bottom: 2rem;
}

h2.ui.header.Work-header {
    color: rgba(29, 29, 29, 0.87) !important;
    font-size: 2.3rem !important;
}

@media (max-width: 112.5em) {
    h2.ui.header.Work-header {
        font-size: 2rem !important;
    }
}

@media (max-width: 75em) {
    h2.ui.header.Work-header {
        font-size: 2.1rem !important;
    }
}

@media (max-width: 56.25em) {
    h2.ui.header.Work-header {
        font-size: 2.5rem !important;
    }
}