.work-div {
    background-color: lavender;
}

.Work-container {
    padding-top: 9em;
    padding-bottom: 10em;
}

.projectImage:hover {
    opacity: 0.5;
}

.Project-row {
    padding: 2rem !important;
}

.Project-top-column {
    padding-bottom: 2rem;
}

@media (max-width: 37.5em) {
    .Work-header {
        font-size: 2.5rem !important;
    }
}