.Masthead {
    background-size: cover;
    height: 100vh;
    background-image: url('../../assets/images/desk.jpg');
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    animation: fadeIn ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.Masthead-logo-box {
    position: absolute;
    top: 50px;
    left: 50px;
}

.Masthead-logo {
    height: 75px;
    width: auto;
}

.Masthead-main-box {
    text-align: center !important;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.Masthead-avatar {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

h1.ui.header.Masthead-header-name {
    font-size: 5.2rem;
    font-weight: 400;
    font-family: 'Assistant', sans-serif;
    color: rgb(199, 171, 231);
    text-align: center;
    margin-bottom: 0;
    animation-name: fadeDown;
    animation-duration: 1.5s;
}

.Masthead-header-description {
    font-size: 1rem !important;
    font-weight: normal !important;
    margin-top: 0.8rem !important;
    animation-name: fadeDown;
    animation-duration: 1.5s;
}

.Masthead-header-button {
    animation-name: fadeDown;
    animation-duration: 1.5s;
    transition: all .5s;
    border-radius: 10rem !important;
    font-size: 2rem !important;
    cursor: pointer;
    padding: 1.5rem !important;
}

.Masthead-header-button-icon {
    color: #6435c9 !important;
}

@media (max-width: 112.5em) {
    .Masthead-avatar {
        height: 13rem;
        width: 13rem;
    }
    .Masthead-main-box {
        height: 100vh;
    }
    h1.ui.header.Masthead-header-name {
        font-size: 4rem;
    }
    .Masthead-logo {
        height: 41px;
        width: auto;
    }
    .Masthead-logo-box {
        top: 30px;
        left: 30px;
    }
    .Masthead-header-button {
        font-size: 1.2rem !important;
    }
    .Masthead-main-box {
        top: 50%;
    }
}

@media (max-width: 56.25em) {
    .Masthead-header-name {
        font-size: 3.5rem;
    }
    .Masthead-avatar {
        height: 15rem;
        width: 15rem;
    }
    .Masthead-main-box {
        width: 80%;
    }
    .Masthead-header-button {
        font-size: 1.7rem !important
    }
    h1.ui.header.Masthead-header-name {
        font-size: 4.5rem;
    }
    .Masthead-logo {
        height: 35px;
        width: auto;
    }
}

@media (max-width: 37.5em) {
    .Masthead-avatar {
        height: 16rem;
        width: 16rem;
    }
    .Masthead-header-name {
        font-size: 4.6rem;
        padding: 1rem;
    }
    .Masthead-header-button {
        font-size: 1.7rem !important
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}